<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ua.pb.gallery"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="StarterActivity"
                  android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".AcFolders" android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name=".AcPhotos" android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity android:name=".AcPreview" android:screenOrientation="portrait"
            android:launchMode="singleTop"
             />


    </application>
</manifest>
